/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.send-off-screen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.demo-oracle-icon {
  width:137px;
  height:18px
}

.demo-oracle-icon:before {
  content:url("images/logo_gold_no_bg.png")
}

html:not([dir="rtl"]) .demo-oracle-icon {
  padding-right:4px
}

html[dir="rtl"] .demo-oracle-icon {
  padding-left:4px
}

.demo-oracle-icon:before {
  display:inline
}

.demo-appheader-avatar {
  width:24px;
  height:24px
}

.demo-appheader-avatar:before {
  content:url("images/avatar_24px.png")
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .demo-appheader-avatar:before {
      content:url("images/avatar_24px_2x.png");
      -webkit-transform:translate(-25%, -25%) scale(0.5);
      transform:translate(-25%, -25%) scale(0.5)
  }
}


/* film strip css */

.demo-filmstrip-item {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.demo-overlaid-paging-control {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.demo-stretch-items {
  height: 100%;
}

.demo-stretch-items .oj-filmstrip-item-container {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.film-strip-bg{
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

#city-container {
  height: 600px;
  width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


.side-text {
  text-align:center;
  font-family: Georgia;
  font-size: 50px;
  color: black;
  padding-top:10%;
}

.side-text-left {
  margin-left: 50px;      
}

.side-text-right {
  margin-right: 50px;      
}

.button-bar {
  font-family: Georgia;
  font-size: 50px;
  color: white;
  margin-left: 10%;
}

.moment-button{
  font-family: Georgia;
  font-size: 20px;
  background-color: #EDEADE;
  margin-top: 10px;
  border-radius: 4px;
}

#garden-container{
  height: 600px;
  width: 600px;
  position: relative;
  /* margin-left: auto; */
  margin-right: auto;
  border-radius: 10px;
}

#top-corner-container{
  height: 200px;
  width: 200px;
  position: absolute;
}

#top-corner-logo-image{
  margin-top: -72px;
}